In [1]:
import pandas as pd 
import numpy as np
import lightgbm as lgb
import sklearn

In [2]:
train = pd.read_csv('input/fe_train.csv')
tr = train.copy()

In [3]:
off = pd.read_csv('offensepersonnel.csv')
dff = pd.read_csv('deffensepersonnel.csv')

In [8]:
a = pd.concat([train, off], sort=False, axis=1)

In [9]:
a.head()

,X,Y,S,A,Dis,Orientation,Dir,NflId,JerseyNumber,Season,...,HomeField,Field_eq_Possession,OFF_RB,OFF_DB,OFF_OL,OFF_WR,OFF_DL,OFF_TE,OFF_QB,OFF_LB
0,73.91,34.84,1.69,1.13,0.40,81.99,177.18,496723,29,2017,...,False,True,1,1,0,3,0,1,0,0
1,74.67,32.64,0.42,1.35,0.01,27.61,198.70,2495116,97,2017,...,False,True,1,0,0,3,0,1,0,0
2,74.00,33.20,1.22,0.59,0.31,3.01,202.73,2495493,50,2017,...,False,True,1,0,0,3,0,1,0,0
3,71.46,27.70,0.42,0.54,0.02,359.77,105.64,2506353,56,2017,...,False,True,1,0,0,3,0,1,0,0
4,69.32,35.42,1.82,2.43,0.16,12.63,164.31,2530794,38,2017,...,False,True,1,0,0,3,0,1,0,0

In [ ]:
train.columns

In [ ]:
off.columns

In [ ]:
len(train.columns)

In [10]:
aa = pd.concat([a, dff], sort=False, axis=1)

In [11]:
aa.head()

,X,Y,S,A,Dis,Orientation,Dir,NflId,JerseyNumber,Season,...,OFF_OL,OFF_WR,OFF_DL,OFF_TE,OFF_QB,OFF_LB,DEF_OL,DEF_DL,DEF_DB,DEF_LB
0,73.91,34.84,1.69,1.13,0.40,81.99,177.18,496723,29,2017,...,0,3,0,1,0,0,0,2,6,3
1,74.67,32.64,0.42,1.35,0.01,27.61,198.70,2495116,97,2017,...,0,3,0,1,0,0,0,2,6,3
2,74.00,33.20,1.22,0.59,0.31,3.01,202.73,2495493,50,2017,...,0,3,0,1,0,0,0,2,6,3
3,71.46,27.70,0.42,0.54,0.02,359.77,105.64,2506353,56,2017,...,0,3,0,1,0,0,0,2,6,3
4,69.32,35.42,1.82,2.43,0.16,12.63,164.31,2530794,38,2017,...,0,3,0,1,0,0,0,2,6,3

In [12]:
print(aa.columns)

Index(['X', 'Y', 'S', 'A', 'Dis', 'Orientation', 'Dir', 'NflId',
       'JerseyNumber', 'Season', 'YardLine', 'Quarter', 'GameClock',
       'PossessionTeam', 'Down', 'Distance', 'FieldPosition',
       'HomeScoreBeforePlay', 'VisitorScoreBeforePlay', 'NflIdRusher',
       'OffenseFormation', 'DefendersInTheBox', 'Yards', 'PlayerHeight',
       'PlayerWeight', 'PlayerBirthDate', 'Position', 'Week', 'StadiumType',
       'Turf', 'GameWeather', 'Temperature', 'Humidity', 'WindSpeed',
       'TotalScore', 'CumGameClock', 'VsTeam', 'HomeTeam', 'IsOffense',
       'TimeDelta', 'HomeField', 'Field_eq_Possession', 'OFF_RB', 'OFF_DB',
       'OFF_OL', 'OFF_WR', 'OFF_DL', 'OFF_TE', 'OFF_QB', 'OFF_LB', 'DEF_OL',
       'DEF_DL', 'DEF_DB', 'DEF_LB'],
      dtype='object')

In [30]:
categorical = [
    'NflId', 'JerseyNumber', 'Season', 'Quarter', 'PossessionTeam', 'FieldPosition',
    'NflIdRusher', 'OffenseFormation', 'DefenderFormation', 'Position', 'Week',
    'StadiumType', 'Turf', 'VsTeam', 'HomeTeam', 'IsOffense', 'HomeField', 
    'Field_eq_Possession', 
]

numerical = []
for i in aa.columns:
    if i not in categorical:
        numerical.append(i)

In [29]:
aa['Field_eq_Possession']

0          True
1          True
2          True
3          True
4          True
          ...
509757    False
509758    False
509759    False
509760    False
509761    False
Name: Field_eq_Possession, Length: 509762, dtype: bool

In [28]:
# cumgameclock 추가
# yard 관련 생각해볼필요